/* Default CSS configurations */

body {
    margin: 0;
    padding: 0;
    font-family: 'ITCAvantGardeStd-BkCn', Verdana, Sans-serif, Helvetica;
    font-size: 12px;
    line-height: 19px;
    color: #58595b;
    background: #ebebeb;
    background-image: url(../image/Bern_BW100.png);
    background-size: cover;
}

h1 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    font-weight: bold;
}

h2 {
    height: 26px;
    line-height: 26px;
    background-color: #b80f1d;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
}

.navbar-brand {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #5e5e5e 0, #5e5e5e 100%);
    border-color: #818386;
}

.navbar-inverse .navbar-brand {
    color: #ecf0f1;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-text {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-toggle {
    background-image: -webkit-linear-gradient(top, #818386 0, #818386 100%);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #818386;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-image: -webkit-linear-gradient(top, #ecf0f1 0, #ecf0f1 100%);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ecf0f1;
}

.navbar-inverse .navbar-link {
    color: #ecf0f1;
}

.navbar-inverse .navbar-link:hover {
    background-color: #818386;
    color: #ffffff;
}

h3 {
    font-size: 14px;
    padding: 0 10px;
    margin-top: 25px;
    border-left: 15px solid #b80f1d;
    color: black;
    font-weight: bold;
}

h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #b80f1d;
    font-weight: bold;
}

h5 {
    font-size: 20px;
    padding-bottom: 5px;
}

h6 {
    height: 26px;
    line-height: 26px;
    background-color: #b80f1d;
    color: white;
    text-align: center;
    font-size: 10px;
    margin: 20px 0;
    width: 80px;
}

p {
    font-size: 14px;
    color: black;
    line-height: 1.8em;
    text-indent: 0px;
    width: 100%;
}

p.ateliertext {
    height: 170px;
}

a,
a:hover {
    color: #D8D8D8;
    text-decoration: none;
}

p a,
p a:hover {
    color: #D8D8D8;
}

hr {
    margin: 30px 0;
    border-bottom: 1px solid #ebebeb;
}


/* Body */

#anmeldeschluss {
    position: fixed;
    top: 120px;
    right: -7px;
    padding: 0 7px 0 7px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #b80f1d;
    height: 25px;
    line-height: 25px;
    transform: rotate(30deg);
    z-index: 9999;
}

@media all and (max-width: 800px) {
    #anmeldeschluss {
        display: none;
    }
}

#maineventlogo {
    position: fixed;
    top: 250px;
    left: 20px;
    padding: 10px 10px 10px 10px;
    z-index: 9999;
    display: block;
    width: 200px;
    height: 1000px;
    background-color: #fff;
}

@media all and (max-width: 1300px) {
    #maineventlogo {
        display: none;
    }
}

.container {
    display: block;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    nav .container {
        width: 100%;
    }
}

#content.container {
    background-color: white;
    padding: 60px 15px 30px 5px;
}

#content1.container {
    padding: 60px 15px 30px 5px;
}

#content.container #registrationform {
    padding: 0;
    max-width: 940px;
    overflow: hidden;
}


/* index.html */

.slideImage {
    width: 100%;
}

.columnbox h2 {
    margin: 0;
    font-size: 14px;
}

.headerImageBox {
    width: 100%;
}

.headerLinkBox {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 14px;
    background: #acacad;
}

.headerLinkBox:hover {
    background: #58595B;
}

img {
    width: inherit;
}

.col-md-4 {
    padding-bottom: 30px;
}

.row {
    margin: 0;
}

.memberlist li {
    font-size: 16px;
}


/* team.html */

.teambox {
    display: table-cell;
    width: 203.8px;
    float: none;
    padding: 0 35px;
    margin: 0 auto;
}

.nameinfo {
    width: 80px;
    padding: 5px;
    color: white;
    font-size: 10px;
    background-color: #ACACAD;
    overflow: hidden;
    margin-top: -50px;
}

.nameimage {
    width: 80px;
    height: 150px;
    overflow: hidden;
}

.nameimage img {
    height: 100px;
    margin: 0 0 0 0;
}

.nameimage img:hover {
    opacity: 0.6;
}

.teambox h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
}

.teamlinkicon {
    font-size: 130px;
    color: transparent;
    position: absolute;
    top: 68px;
    left: 17px;
}

.teamlinkicon:hover {
    color: rgba(20, 20, 20, 0.3);
}

.white.teamlinkicon:hover {
    color: rgba(200, 200, 200, 0.5);
}


/* registration.html */

.registration {
    padding: 30px 8%;
}

.registration a {
    color: blue;
}

.registrationbox {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: forestgreen;
    font-size: 14px;
}

.registrationbox:hover {
    background-color: greenyellow;
}


/* programm.html */

#programmangebot {
    display: table;
}

.primary,
.secondary {
    display: table-cell;
    float: left;
}

@media only screen and (max-width: 800px) {
    #programmangebot {
        display: block;
    }
    .primary,
    .secondary {
        display: inline-block;
        width: 100% !important;
        float: none;
    }
    .secondary {
        text-align: center;
        height: 350px !important;
    }
}

.primary {
    width: 65%;
}

.secondary {
    width: 35%;
    height: 739px;
}

#twitter-widget-0 {
    height: inherit !important;
}

img.programmablauflogo {
    height: auto;
    width: auto;
    max-width: 270px;
    max-height: 180px;
}

img.programmablauflogo2 {
    height: auto;
    width: auto;
    max-width: 130px;
    max-height: 100px;
    /**/
}

.ablaufbox {
    display: table;
    width: 100%;
}

.ablaufbox p {
    text-indent: 0px;
}

.ablauf,
.ablauf1,
.ablaufzeit {
    display: table-cell;
    width: 30%;
}

.ablaufzeit123 {
    margin-bottom: 1px;
}

.ablauf,
.ablauf1 {
    padding-left: 10px;
}

.ablauf li {
    border-bottom: 2px solid #b80f1d;
    padding: 5px;
}

.programmlegende {
    font-weight: bold;
}

.ablauf1 {
    width: 85%;
}

.ablaufzeit {
    width: 15%;
}

.ablauf ul {
    list-style-type: none;
    padding: 0px;
}

.embed-container {
    position: relative;
    padding-bottom: 44%;
    height: 400px;
}

.embed-container iframe,
.embed-container object,
.embed-container iframe {
    position: relative;
    max-width: 940px;
    height: 400px;
}

#linkmap,
#linkarticle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 17%;
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: rgba(184, 15, 29, 0.6);
}

#linkmap {
    height: 50px;
    line-height: 50px;
    width: 50px;
    top: 0;
    font-size: 28px;
}

#linkmap:hover,
#linkarticle:hover {
    background-color: rgba(184, 15, 29, 0.9);
}


/* Footer */

.footerBox {
    display: block;
    line-height: 62px;
    max-width: 940px;
    padding: 30px 0px;
    margin-right: auto;
    margin-left: -5px;
    margin-top: 50px;
    background-color: white;
}

.footerBox1 {
    display: block;
    line-height: 62px;
    max-width: 940px;
    padding: 30px 0px;
    padding-right: 70px;
    margin-left: -5px;
    margin-top: 50px;
}

.footer {
    display: block;
    width: 100%;
    text-align: center;
}

.logoLinkBox {
    display: inline-block;
    padding: 15px 30px;
    height: 40px;
}

.logoLinkBox img {
    height: 40px;
}

#sogi img {
    height: 70px;
    margin-top: 0px;
}

.toplogoLinkBox {
    display: inline-block;
    padding: 15px 30px;
    float: right;
}

.toplogoLinkBox img {
    height: 50px;
}

#powerby {
    font-size: 20px;
    font-style: oblique;
}

.inline > img {
    display: inline-block;
}

.inline > h1 {
    display: inline-block;
}


/* impression.html */

.imagecontainer,
.imagecontainer img {
    max-width: 910px;
}

.imagecontainer img {
    width: 100%;
}

.imagecontainer {
    position: relative;
}

.impressioniconbox {
    display: block;
    max-width: 940px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0;
}

.impressiontext {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: black;
    background-color: rgba(184, 15, 29, 0.4);
    border: 1px solid #b80f1d;
}

.impressiontext:hover {
    background-color: #b80f1d;
    color: white;
}

ol {
    list-style-type: decimal;
    border-left: 3px solid rgba(184, 15, 29, 0.9);
    padding-left: 30px;
}

.navbar-form {
    margin: 5px;
    padding: 0;
    border: 0;
}

.navbar-brand {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #5e5e5e 0, #5e5e5e 100%);
    border-color: #818386;
}

.navbar-inverse .navbar-brand {
    color: #ecf0f1;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-text {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-toggle {
    background-image: -webkit-linear-gradient(top, #818386 0, #818386 100%);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #818386;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-image: -webkit-linear-gradient(top, #ecf0f1 0, #ecf0f1 100%);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ecf0f1;
}

.navbar-inverse .navbar-link {
    color: #ecf0f1;
}

.navbar-inverse .navbar-link:hover {
    background-color: #818386;
    color: #ffffff;
}