/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Default CSS configurations */

body {
    margin: 0;
    padding: 0;
    font-family: 'ITCAvantGardeStd-BkCn', Verdana, Sans-serif, Helvetica;
    font-size: 14px;
    line-height: 19px;
    color: #58595b;
    background: #ebebeb;
    background-image: url(Bern_BW100.png);
    background-size: cover;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

hr {
    margin: 30px 0;
    border-bottom: 1px solid #ebebeb;
}


/* Body */

.container {
    display: block;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}

#content.container {
    background-color: white;
    padding: 60px 15px 30px 15px;
}

#content.container #registrationform {
    padding: 0;
}

.footerBox {
    display: block;
    max-width: 940px;
    padding: 60px 15px;
    margin-right: auto;
    margin-left: auto;
    /*background-color: white;*/
}

.registration {
    padding: 30px 105px 0 105px;
}

.registration a {
    color: blue;
}

.registrationbox {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #b80f1d;
}

.registrationbox:hover {
    background-color: #9E0D19;
}

/* heading 1 */

h1 {
    font-size: 30px;
    padding-bottom: 30px;
}

.slideImage {
    width: 100%;
}


/* heading 2 */

h2 {
    height: 25px;
    line-height: 25px;
    background-color: #b80f1d;
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 0;
}

.headerImageBox {
    width: 100%;
}

.headerLinkBox {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background: #acacad;
}

.headerLinkBox:hover {
    background: #58595B;
}

img {
    width: inherit;
}

.col-md-4 {
    padding-bottom: 30px;
}


/* Footer */

.footer {
    display: table;
    width: 100%;
}

.logoLinkBox {
    display: table-cell;
    height: 50px;
}

.logoLinkBox img {
    width: inherit;
    height: 50px;
}

#powerby,
#hsr,
#esri {
    width: 30%;
    text-align: right;
}

#powerby {
    font-size: 20px;
    font-style: oblique;
}

#sogi {
    text-align: left;
}


/* Navigationsbar */

.navbar-brand {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, #5e5e5e 0, #5e5e5e 100%);
    border-color: #818386;
}

.navbar-inverse .navbar-brand {
    color: #ecf0f1;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-text {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ecf0f1;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #818386;
}

.navbar-inverse .navbar-toggle {
    background-image: -webkit-linear-gradient(top, #818386 0, #818386 100%);
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #818386;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-image: -webkit-linear-gradient(top, #ecf0f1 0, #ecf0f1 100%);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ecf0f1;
}

.navbar-inverse .navbar-link {
    color: #ecf0f1;
}

.navbar-inverse .navbar-link:hover {
    background-color: #818386;
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-image: -webkit-linear-gradient(top, #818386 0, #818386 100%);
    }
}